@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

html {
  font-family: "Inter", sans-serif;
}

/* html {
  font-family: "Tenor Sans", serif;
} */

button,
input,
select,
textarea {
  font: inherit;
}
